body{
    background-color:darkkhaki;
    color: black;
    font-size: 16px;
}
 p{
    text-align: center;
    color:black;
 }
 .despcription{
    color: crimson;
    background-color: floralwhite;

 }